<!DOCTYPE html>
<meta charset='utf-8' />
<html ng-app="app">

<head>
    <title>NCSM design3</title>

    <link href="../static/img/favicon.ico" rel="shortcut icon" />

    <link href="../static/bower_components/reset-css/reset.css" rel="stylesheet" />
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/app.css" rel="stylesheet">

    <script src="../static/bower_components/angular/angular.min.js"></script>
    <script src="../static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>

    <!--Custom-->
    <script src="../static/js/app.js"></script>

    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

    <div class='container navbar navbar-default'>
        <a href='/' class="navbar-brand">NCSM-design3</a>
    </div>

    <div ui-view></div>

</body>

</html>