body {
    background-color: #42A5F5;
}

#mapCanvas {
    background-color: white;
    border: 1px solid black;
}

#controlButtons{
  //width:500px;
    display: flex;
    flex-flow: row wrap;
}

.tab-pane{
  background-color: white;
}

.nav-tabs a{
  color: black;
}
